In [2]:
import kagglehub
import shutil
import os
import pandas as pd
from sklearn.model_selection import train_test_split

c:\Users\Admin\Desktop\studia\asi\projekt\s22393_CarPricePrediction\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
# Downloading dataset from kaggle and moving it to project dir

path = kagglehub.dataset_download("wspirat/poland-used-cars-offers")
project_dir = "data"
os.makedirs(project_dir, exist_ok=True)

dataset_paths = []
for file in os.listdir(path):
    file_name = os.path.join(path, file)
    shutil.move(file_name, project_dir)
    dataset_paths.append(os.path.join(project_dir, file))


print("Path to dataset files:", project_dir, file)

Downloading from https://www.kaggle.com/api/v1/datasets/download/wspirat/poland-used-cars-offers?dataset_version_number=1...

100%|██████████| 1.27M/1.27M [00:00<00:00, 1.82MB/s]

Extracting files...
Path to dataset files: data data.csv

In [4]:
data = pd.read_csv(f'data/{file}')

In [10]:
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91523 entries, 0 to 91522
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   brand            91523 non-null  object
 1   model            91523 non-null  object
 2   price_in_pln     91523 non-null  float64
 3   mileage          91523 non-null  object
 4   gearbox          91523 non-null  object
 5   engine_capacity  91523 non-null  object
 6   fuel_type        91523 non-null  object
 7   city             91523 non-null  object
 8   voivodeship      91523 non-null  object
 9   year             91523 non-null  object
dtypes: float64(1), object(9)
memory usage: 7.0+ MB

,brand,model,price_in_pln,mileage,gearbox,engine_capacity,fuel_type,city,voivodeship,year
0,alfa-romeo,Alfa Romeo Spider 2.0-16 TSpark,14700.0,133 760 km,manual,1 970 cm3,Benzyna,Łask,Łódzkie,1998
1,alfa-romeo,Alfa Romeo GTV 2.0 16v TSpark,14000.0,133 760 km,manual,1 970 cm3,Benzyna,Mława,Mazowieckie,1998
2,alfa-romeo,Alfa Romeo 164 2.0 TSpark Super,4500.0,227 000 km,manual,1 970 cm3,Benzyna,Chełmża,Kujawsko-pomorskie,1996
3,alfa-romeo,Alfa Romeo Spider 2.0 TSpark,17100.0,227 000 km,manual,1 970 cm3,Benzyna,Jasło,Podkarpackie,1996
4,alfa-romeo,Alfa Romeo 156 1.6 TSpark 16v,3900.0,239 000 km,manual,1 995 cm3,Benzyna+LPG,Pabianice,Łódzkie,1995

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91523 entries, 0 to 91522
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   brand            91523 non-null  object
 1   model            91523 non-null  object
 2   price_in_pln     91523 non-null  float64
 3   mileage          91523 non-null  object
 4   gearbox          91523 non-null  object
 5   engine_capacity  91523 non-null  object
 6   fuel_type        91523 non-null  object
 7   city             91523 non-null  object
 8   voivodeship      91523 non-null  object
 9   year             91523 non-null  object
dtypes: float64(1), object(9)
memory usage: 7.0+ MB

In [7]:
train_data, test_data = train_test_split(data, test_size=0.3, random_state=10)
train_data.to_csv('data/train_data.csv')
test_data.to_csv('data/test_data.csv')

In [8]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64066 entries, 73505 to 83209
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   brand            64066 non-null  object
 1   model            64066 non-null  object
 2   price_in_pln     64066 non-null  float64
 3   mileage          64066 non-null  object
 4   gearbox          64066 non-null  object
 5   engine_capacity  64066 non-null  object
 6   fuel_type        64066 non-null  object
 7   city             64066 non-null  object
 8   voivodeship      64066 non-null  object
 9   year             64066 non-null  object
dtypes: float64(1), object(9)
memory usage: 5.4+ MB

In [9]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27457 entries, 81392 to 73220
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   brand            27457 non-null  object
 1   model            27457 non-null  object
 2   price_in_pln     27457 non-null  float64
 3   mileage          27457 non-null  object
 4   gearbox          27457 non-null  object
 5   engine_capacity  27457 non-null  object
 6   fuel_type        27457 non-null  object
 7   city             27457 non-null  object
 8   voivodeship      27457 non-null  object
 9   year             27457 non-null  object
dtypes: float64(1), object(9)
memory usage: 2.3+ MB