In [12]:
import kagglehub
import shutil
import os
import pandas as pd

In [13]:
kagglehub.dataset_download

In [14]:
# Downloading dataset from kaggle and moving it to project dir

path = kagglehub.dataset_download("wspirat/poland-used-cars-offers")
print("Dataset downloaded: ", path)
project_dir = "../data"
if not os.path.exists(path):
    print("Error: Download path does not exist.")
    exit(1)
all_files = []
for root, dirs, files in os.walk(path):
    for file in files:
        all_files.append(os.path.join(root, file))

if not all_files:
    print("Download directory is empty")
    exit(1)
os.makedirs(project_dir, exist_ok=True)

dataset_paths = []
for file_path in all_files:
    destination_file = os.path.join(project_dir, os.path.basename(file_path))
    try:
        shutil.move(file_path, destination_file)
        dataset_paths.append(destination_file)
        print(f'Moved: {file_path} -> {destination_file}')
    except Exception as e:
        print(f"Error moving {file_path}: {e} ")


print("Path to dataset files:", project_dir)
print("Dataset files: ", dataset_paths)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.4)
Dataset downloaded:  /home/admin/.cache/kagglehub/datasets/wspirat/poland-used-cars-offers/versions/1
Download directory is empty
Path to dataset files: ../data
Dataset files:  []

In [15]:
data = pd.read_csv(f'../data/data.csv')

In [16]:
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91523 entries, 0 to 91522
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   brand            91523 non-null  object
 1   model            91523 non-null  object
 2   price_in_pln     91523 non-null  float64
 3   mileage          91523 non-null  object
 4   gearbox          91523 non-null  object
 5   engine_capacity  91523 non-null  object
 6   fuel_type        91523 non-null  object
 7   city             91523 non-null  object
 8   voivodeship      91523 non-null  object
 9   year             91523 non-null  object
dtypes: float64(1), object(9)
memory usage: 7.0+ MB

,brand,model,price_in_pln,mileage,gearbox,engine_capacity,fuel_type,city,voivodeship,year
0,alfa-romeo,Alfa Romeo Spider 2.0-16 TSpark,14700.0,133 760 km,manual,1 970 cm3,Benzyna,Łask,Łódzkie,1998
1,alfa-romeo,Alfa Romeo GTV 2.0 16v TSpark,14000.0,133 760 km,manual,1 970 cm3,Benzyna,Mława,Mazowieckie,1998
2,alfa-romeo,Alfa Romeo 164 2.0 TSpark Super,4500.0,227 000 km,manual,1 970 cm3,Benzyna,Chełmża,Kujawsko-pomorskie,1996
3,alfa-romeo,Alfa Romeo Spider 2.0 TSpark,17100.0,227 000 km,manual,1 970 cm3,Benzyna,Jasło,Podkarpackie,1996
4,alfa-romeo,Alfa Romeo 156 1.6 TSpark 16v,3900.0,239 000 km,manual,1 995 cm3,Benzyna+LPG,Pabianice,Łódzkie,1995

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91523 entries, 0 to 91522
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   brand            91523 non-null  object
 1   model            91523 non-null  object
 2   price_in_pln     91523 non-null  float64
 3   mileage          91523 non-null  object
 4   gearbox          91523 non-null  object
 5   engine_capacity  91523 non-null  object
 6   fuel_type        91523 non-null  object
 7   city             91523 non-null  object
 8   voivodeship      91523 non-null  object
 9   year             91523 non-null  object
dtypes: float64(1), object(9)
memory usage: 7.0+ MB